        /*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            min-height: 100vh; 
            background: linear-gradient(to right top,#65dfc9,#2eb3c7);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        main{
            padding: 10px;
            background: white;
            min-height: 80vh;
            width: 60%;
            border-radius: 10px;
            background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7),rgba(255,255,255,0.3)); 
        }
        nav{
            
        }
        nav ul li{
            list-style-type: none;
            
        }
        nav ul li a{
            text-decoration:none;
        }
        #main-content{

        }
        .Search{
            background: white;
            margin: 20px;
            padding: 10px;
            border-radius: 10px;
        }
        input{
            height: 25px;
            border: solid 1px rgba(0, 0, 0, 0.74);
            border-radius: 5px;
        }
    */ 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        min-height: 100vh; 
        background: linear-gradient(to right top,#65dfc9,#2eb3c7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main{
        backdrop-filter: blur(2px);
        padding: 10px;
        background: white;
        min-height: 80vh;
        width: 60%;
        border-radius: 10px;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7),rgba(255,255,255,0.3)); 
    }
    .circle1{
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(255,255,255,0.2)); 
        height: 100px;;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top: 80%;
        left: 60%;
    }
    .circle2{
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8),rgba(255,255,255,0.2));
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    nav{
        
    }
    nav ul li{
        list-style-type: none;
        
    }
    nav ul li a{
        text-decoration:none;
    }
    #main-content{

    }
    .Search{
        background: white;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }
    input{
        height: 25px;
        border: solid 1px rgba(0, 0, 0, 0.74);
        border-radius: 5px;
    }
    .btn{
       padding: 5px; 
       border: none;
       background-color: white;
       border: solid 1px black;
    }
    .btn:hover{
        border: solid 1px #1595a8;
        background: white;
        border-radius: 5px;
        background-color: #74d8e7c5;
    } 
    
    